// Place all the styles related to the Runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.runs-menu {
  margin: 5px;
  margin-bottom: 10px;
}

.runs-details {
  margin-bottom: 20px
}